* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.shareBtn{
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    background-color: red;
    font-size: 20px;
    color: white;
    border-radius: 16px;
    border: none;
    position: relative;
    bottom: 50px;
    padding: 5px 20px;
    box-shadow: 0 2px 4px green,0 10px 30px  greenyellow;
}